body {
  padding: 10px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #A3C4BC;
  display:flex; /*parent to sections*/
  flex-direction: column;
}
header { /*parent element making its children flex items, h1*/
  margin: 10px;
  height: 20vw;
  width: 90vw;
  border: 5px solid #545E75;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Images/naail-hussain-XGLXYn6XOrQ-unsplash.jpg);
  background-size: cover;
}
h1 {
  font-size: 4em;
  line-height: 1;
  letter-spacing: 5px;
  }
h2 {
  color: rgb(22, 23, 22);
  }
main.content { /*this is the container for current and hisotry so this has to be the flexbox for those two items*/
  width: 90%;
  height: 50%;
  margin: 10px;
  background-color: #C89F9C;
  border: 5px solid #545E75;
  border-radius: 5px;
  padding: 10px;
  display:flex;
}
section#current { /*this is a child of main.content*/
  width: 50%;
  padding: 10px;
  font-size: small;
  font-weight: lighter;
}
p {
  margin: 5px;
  padding: 5px;
  color: #545E75;
  font-size: large;
  font-weight: lighter;
}
section#history { /*this is the child of main.content*/
  width: 50%;
  padding: 10px;
  background-color:#A3C4BC;
  border:#C89F9C solid 4px;
  border-radius: 5px;
  font-size: small;
  font-weight: lighter;
}

footer {
  background-color: #545E75;
  border: 2px solid #CBFF4D;
  border-radius: 5px;
  line-height: 1.5;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
div {
  color: #CBFF4D;
  font-size: 1em;
  margin: 5px;
  padding: 5px;
}
/*spread the contact details across the footer in boxes*/
