body {
  padding: 30px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(Images/naail-hussain-XGLXYn6XOrQ-unsplash.jpg);
  background-size: cover;
}
header {
  margin: 10px;
  border: 5px solid blanchedalmond;
  border-radius: 5px;
  display: flex;
}
h1 {
  display:flex;
  font-size: 4em;
  line-height: 1.5;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
}
h2 {
  margin: 10px;
  padding: 10px;
  letter-spacing: 3px;
}
main {
  color: rgb(22, 23, 22);
  background-color: rgb(103, 235, 204);
  width: 70%;
  height: 70%;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 20px;
}
p {
  margin: 20px;
  padding: none;
  font-size: small;
  font-weight: lighter;
}
nav {
  float: left;
  background-color: rgb(128, 182, 196);
  width: 25%;
  height: 30%;
  margin-left: 15px;
  font-size: small;
  font-weight: lighter;
}
h3 {
  margin-left: 10px;
  letter-spacing: 2px;
}
footer {
  background-color: blanchedalmond;
  color: black;
  font-size: 1em;
  border: 2px solid blanchedalmond;
  border-radius: 5px;
  line-height: 1.5;
  display:flex;
  justify-content: space-between;
  
}
/*spread the contact details across the footer in boxes*/
